.custom {
    color: red;
    font-size: 40px;
}

.quizContainer {
    max-width: 400px;
    padding: 15px;
}

#score {
    margin-top: 10px;
}

.question {
    margin-bottom: 10px;
}

.answer {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.incorrect {
    background-color: red;
}

.correct {
    background-color: green;
}