/* .custom {
    color: red;
    font-size: 40px;
}

.quizContainer {
    max-width: 400px;
    padding: 15px;
}

#score {
    margin-top: 10px;
}

.question {
    margin-bottom: 10px;
}

.answer {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.incorrect {
    background-color: red;
}

.correct {
    background-color: green;
}

.open-button {
    background-color: cyan;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;

}


.modal {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0.2);
    max-width: 80%;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hidden {
    display: block;
} */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
}

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-content {
    font-size: 16px;
    margin-bottom: 20px;
}

.like-button {
    background-color: #1d096e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.like-button:hover {
    background-color: #2a2c6c;
}